<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="top-nav-buttons">
            <nav>
                <a [routerLink]="['/home']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Strona główna</a>
                <a [routerLink]="['/customers']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Klienci</a>
                <a [routerLink]="['/repairs']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Naprawy</a>
                <a [routerLink]="['/storage']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Magazyn</a>
            </nav>
        </div>
    </div>
</body>
</html>
    
