<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="top-nav-buttons">
            <nav>
                <a [routerLink]="['/home']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Home</a>
                <a [routerLink]="['/customers']" routerLinkActive="active-link" class="btn btn-primary btn-lg active">Customers</a>
                <a [routerLink]="['/repairs']" routerLinkActive="active" class="btn btn-primary btn-lg active">Repairs</a>
                <a [routerLink]="['/storage']" routerLinkActive="active" class="btn btn-primary btn-lg active">Storage</a>
            </nav>
        </div>
    </div>
</body>
</html>
    
