.container {
    background-color: rgba(125, 6, 194, 0.518);
    border: 3px rgba(125, 6, 194, 0.867) solid;
    max-width: calc(100vw - 6px);
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.container * {
    margin: 3px;
}

.top-nav-buttons {
    margin: 0;
    padding: 0;
}

button {
    background-color: blue;
}

// button.pause svg {
//     margin-left: auto;
//     margin-right: auto;
// }

button:hover {
    background-color: rgba(97, 4, 113, 1);
}