<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="top-nav-buttons">
            <nav>
                <a [routerLink]="['/home']" routerLinkActive="active" class="btn btn-primary">Home</a>
                <a [routerLink]="['/customers']" class="btn btn-primary">Customers</a>
                <a [routerLink]="['/repairs']" class="btn btn-primary">Repairs</a>
                <a [routerLink]="['/storage']" class="btn btn-primary">Storage</a>
            </nav>
        </div>
    </div>
</body>
</html>
    
