.container {
    background-image: linear-gradient(90deg, rgba(158, 110, 193, 1) 0%, rgba(148, 24, 171, 1) 25%, rgba(110, 39, 160, 1) 50%, rgba(103, 34, 150, 1) 75%, rgba(57, 5, 90, 1) 100%);
    border: 3px rgba(125, 6, 194, 0.867) solid;
    max-width: calc(100vw - 6px);
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    -webkit-box-shadow: 2px 6px 12px 12px rgba(150, 73, 169, 1);
    -moz-box-shadow: 2px 6px 12px 12px rgba(150, 73, 169, 1);
    box-shadow: 2px 6px 12px 12px rgba(150, 73, 169, 1);
}

.container * {
    margin: 3px;
}

.top-nav-buttons {
    margin: 0;
    padding: 0;
}

a.btn-primary {
    background-color: rgb(80, 0, 91);
}

.btn-primary.active-link {
    background-color: blue;
  }

button:hover {
    background-color: rgba(97, 4, 113, 1);
}