.container {
    width: 100vw;
    height: 100vh;
    margin-left: 85px;

    p {
        font-size: 24px;
        width: calc(100vw - 97px);
        background-color: rgba(150, 180, 200, 0.541);
    }
}