body {
    height: 100%;
}

.container {
    background-color: rgba(125, 6, 194, 0.518);
    border: 3px rgba(125, 6, 194, 0.867) solid;
    height: 100vw;
    max-height: 100vw;
    width: 100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-top: none;
}

.container * {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
}

button {
    background-color: rgba(125, 6, 194, 0.518);
    padding: 0;
    
    svg {
        width: 12px;
        height: 12px;
        margin: auto;
    }
}

button:hover {
    background-color: rgba(97, 4, 113, 1);
}