.container {
    margin: 0px 100px 10px 100px;
    padding-top: 10px;
}

.customer-container {
    .customer {
        background-color: rgba(97, 156, 195, 0.541);
        font-size: 24px;
        color: black;
        display: block;
        width: calc(100vw - 200px);
    }   
    .customer:hover {
        background-color: rgba(125, 6, 194, 0.518);
    }
}