html {
    width: 100vw;
    height: 100vh;
}

body {
    //background-color: rgba(150, 180, 200, 0.541);
    height: 100%;
}

.left-navbar {
    margin-top: 0px;

    .content {
        margin-top: 0px;
    }
}


.header {
    width: 100vw;
    height: 6vh;
    background-color: rgba(97, 156, 195, 0.541);
    h1 {
        display: flex;
        justify-content: left;
        margin-left: 50px;
    }
}